* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #e55473;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.navbar-item {
  list-style: none;
  padding-right: 20px;
}
.item-link {
  text-decoration: none;
  color: hotpink;
  background-color: white;
  font-size: large;
  font-weight: 450px;

  padding: 10px;
  border-radius: 5px;
}
.item-link:hover {
  color: white;
  background-color: hotpink;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.cart-name {
  font-weight: bolder;
  margin-left: 10px;
  align-items: center;
  color: white;
  font-size: 30px;
  padding: 20px;
}
.intro-section {
  background-color: rgba(229, 84, 115, 0.1);
  margin: 0;
  padding: 0;
  background-image: url("../Flower/pngwing\ 10.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
}
h1 {
  color: #272727;

  font-size: 80px;

  font-weight: 800;
  max-width: 708px;
  margin: 0px 972px 0px 240px;
  padding-top: 100px;
  box-sizing: border-box;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;

  margin: 50px 240px 0px 240px;
  font-weight: 400;
  max-width: 634px;
}
.primary-button {
  color: #fff;

  font-size: 20px;

  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  gap: 5px;
  border: none;
  margin: 50px 240px;
  cursor: pointer;
}
.primary-button:hover {
  background-color: black;
  color: #e55473;
}
.featured-title {
  color: #272727;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 594px;
}

.featured-images {
  max-width: 50%;
  margin: 48px auto 0px auto;
  display: flex;
  justify-content: center;
}

.image-container {
  margin: 0px 10px;
  width: 464px;
  height: 538px;

  justify-content: center;
  padding: 10px;
  margin-top: 50px;
}

.pink {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0px 78px;
}
.mixed {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px 47px;
}
.yellow {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
}
.image-name {
  color: #272727;
  text-align: center;

  font-size: 24px;

  font-weight: 700;

  text-decoration-line: underline;
  margin: 20px 0px;
}
.service {
  display: flex;
  max-width: 1440px;
  max-height: 320px;
  margin: 120px auto 0px auto;
  justify-content: center;

  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.service-icon img {
  width: 88px;
  height: 88px;
}
.service-icon {
  padding: 60px 70px;
  text-align: center;
  color: rgba(39, 39, 39, 0.8);

  font-size: 20px;

  font-weight: 600;
}
.discount-main {
  width: 100%;
  height: 620px;
  border-radius: 8px;
  margin-top: 120px;
  display: flex;
  object-fit: fill;
  background: rgba(229, 84, 115, 0.05);
  padding: 230px 562px 20px 412px;
  align-items: center;
}

.discount-heading {
  color: #272727;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  height: 48px;
}
span {
  color: #e55473;
}
.discount-description {
  width: 594px;

  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
}
.signup-button {
  background-color: #e55473;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 220px;
  cursor: pointer;
}
.sign-up {
  text-decoration: none;

  font-size: 20px;

  font-weight: 700;
  text-align: center;
  color: #fff;
}
.signup-button:hover {
  background-color: black;
}
.discount-img {
  padding-left: 200px;
  padding-bottom: 260px;
  align-content: center;
}
.insta {
  text-align: center;
}
.insta-title {
  color: #272727;
  text-align: center;

  font-size: 40px;

  font-weight: 800;
  padding-top: 128px;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  width: 594px;
  font-size: 18px;
  font-weight: 400;

  margin: 30px auto;
}
.insta-photo {
  display: inline-block;
  margin-top: 30px;
  padding-left: 15px;
}
.subscribe {
  width: 1440px;
  height: 449px;
  background-image: url("../Flower/Rectangle\ 9.png");
  margin: 100px auto;
}

.subscribe-info {
  text-align: center;
}
.subscribe-heading {
  color: #272727;

  font-size: 40px;

  font-weight: 800;
  padding-top: 80px;
}
.subscribe-description {
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;

  font-weight: 400;
}
.subscribe-form {
}
input[name="email"] {
  width: 600px;
  height: 60px;
  color: black;
  border: 1px solid hotpink;
  margin-left: 300px;
  border-radius: 8px;
  margin-top: 20px;
}
.submit-button {
  color: #fff;

  font-size: 20px;

  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 18px 40px;
  margin-left: 20px;
  border: none;

  cursor: pointer;
}
.submit-button:hover {
  background-color: black;
  color: #e55473;
}
.footer-info {
  width: 100%;
  height: 450px;
  background-color: black;
}
.footer-title {
  color: #e55473;
  padding-top: 50px;
  font-size: 48px;

  font-weight: 800;
  text-align: center;
}
.shop {
  color: white;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 625px;
  font-size: 18px;
  margin: 15px auto;
  font-weight: 400;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;

  font-size: 16px;

  font-weight: 400;
}
